@tailwind base;
@tailwind components;
@tailwind utilities;


#root{
    background-color: #e0e1dd;
    height: 100vh;
    overflow-x:hidden;
}
*{
    box-sizing: border-box;
}
  .chakra {
    font-family: "Chakra Petch", sans-serif;
    font-style: normal;
  }
   
  .bangers {
    font-family: "Bangers", system-ui;
    
    font-style: normal;
  }
  .space {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    
    font-style: normal;
  }

  .sh{
    box-shadow: 3px 1px 5px #5C946E;
  }
  .slick-arrow, .slick-next{
    
    color: #f4c420;
  }
  
.sh2{
  
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.sh3{
  box-shadow: #2A2D34 0px 5px 15px;
}
.sh4{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.ani:hover{
  animation: first 0.5s linear 0s infinite alternate;
}
@keyframes first{
  50%{ color:#2A2D34}
  100%{ color: #1f2125;}


}
.gr:hover{
  color: #56585c;
}

.swiper-button-next::after, .swiper-button-prev::after{
  z-index: 100;
  color: black;
 font-size: 20px !important;


}
.swiper-button-next, .swiper-button-prev{
  z-index: 100;
  background-color: white;
  border-radius: 50px;
  padding: 30px !important;
}

.sh10{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.sh12{
  box-shadow: #e0e1dd 0px 1px 3px, #e0e1dd 0px 1px 2px;
}
.swiper-wrapper{
  
  align-items: center !important;
  padding: 10px 10px 15px 10px !important;
}
.swiper-slide{
  border-radius: 50px !important;
  border-collapse: separate !important; 

}
.swiper-button-next{
  right: var(--swiper-navigation-sides-offset, 30px) !important;
}
.swiper-button-prev{
  left: var(--swiper-navigation-sides-offset, 25px) !important;
}
.sh11{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
@media screen and (max-width:500px){
  .h1{
    font-size: 25px;
  }
  .seeall{
    font-size: 15px;
  }
  .card2{
    max-width: 200px;
    min-width: 200px;
  }
  
}
@media screen and (max-width:450px){
  
  .card{
    max-width: 175px;
    min-width: 175px;
  }
  .card3{
    max-width: 160px;
    min-width: 160px;
  }
  .swiper-wrapper{
    padding: 10px 2px !important;
  }
  

}